<h1>Edit article</h1>

<form id="edit-article" name="article">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" placeholder='ex: my super new article'>
  </div>

  <div class="field">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" value="<%= price %>" pattern='[0-9]*' required>
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <textarea class='span9' name="description" id="description" rows='5'><%= description %> </textarea>
  </div>

  <div class="actions">
    <input type="submit" value="Update Article" class='btn btn-primary'/>
    &nbsp;
    <a href="#articles/index" class='btn btn-warning'>Back</a>
  </div>

</form>
