<h1>New article</h1>

<form id="new-article" name="article">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" placeholder='ex: my super new article'>
  </div>

  <div class="field">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" value="<%= price %>" placeholder='ex: 2'>
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <textarea class='span7' rows=5 name="description" id="description" placeholder='ex: the super description of my article' ><%= description %></textarea>
  </div>

  <div class="actions">
    <input type="submit" value="Create Article" class='btn btn-primary' />
    &nbsp;
    <a href="#articles/index" class='btn btn-warning'>Back</a>
  </div>

</form>
